.a1 {
    color: aqua;
}
.a2 {
    color: blue;
}
.a3 {
    color: green;
}
.a4 {
    color: blueviolet;
}
.section1 {
    background-color: aquamarine;
}
div {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.div1 {
    background-color: blue;
}
.div2 {
    background-color: green;
}
.div3 {
    background-color: yellow;
}
.div4 {
    background-color: red;
}
.div5 {
    border-color: black;
    border-style: solid;
    display: block;
}
.div6 {
    border-color: pink;
    border-style: solid;
    display: block;
}
.div7 {
    border-color: blueviolet;
    border-style: solid;
    display: block;
}
.submit {
    width: 60px;
    height: 30px;
    background-color: black;
    color: aqua;
}